{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> </title>
 
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="{% static '/css/style.css '%}" />
  </head>
  <style>
   
    .b1{
      background-color: #000000 !important;
    }
  </style>
  <body>
    
    <main>
      {% block content %}
      <header id="header">
        <div class="overlay overlay-lg">
          <img src="{% static '/img/shapes/square.png'%}" class="shape square" alt="" />
          <img src="{% static '/img/shapes/circle.png'%}" class="shape circle" alt="" />
          <img
            src="{% static '/img/shapes/half-circle.png'%}"
            class="shape half-circle1"
            alt=""
          />
          <img
            src="{% static '/img/shapes/half-circle.png'%}"
            class="shape half-circle2"
            alt=""
          />
          <img src="{% static '/img/shapes/x.png'%}" class="shape xshape" alt="" />
          <img src="{% static '/img/shapes/wave.png'%}" class="shape wave wave1" alt="" />
          <img src="{% static '/img/shapes/wave.png'%}" class="shape wave wave2" alt="" />
          <img src="{% static '/img/shapes/triangle.png'%}" class="shape triangle" alt="" />
          <img src="{% static '/img/shapes/letters.png'%}" class="letters" alt="" />
          <img src="{% static '/img/shapes/points1.png'%}" class="points points1" alt="" />
        </div>

        

        <div class="header-content">
          <div class="container grid-2">
            <div class="column-1">
              <h1 class="header-title">ArtyProd</h1>
              <p class="text">
                La société ArtyProd intervient dans les domaines de la conception 3D , design graphique et la production audiovisuelle.
                basée à Sfax - Tunisie. La sociéte travaille à encourager l’entrepreneuriat et le leadership au sein de Sfax et du sud de la Tunisie afin de créer un vaste réseau de personnes talentueuses, d’entrepreneurs et de startups.
              </p>
              
            </div>

            <div class="column-2 image">
              <img
                src="{% static '/img/shapes/points2.png'%}"
                class="points points2"
                alt=""
              />
              <img src="{% static '/img/ab-img.png'%}" class="img-element z-index" alt="" />
            </div>
          </div>
        </div>
      </header>


     
      <!-- about----------------- -->

      <section class="about section" id="about">
        <div class="container">
          <div class="section-header">
            <h3 class="title" data-title="Who Am I">Présentation du Co-Fondateur et le but de l'entreprise </h3>
          </div>

          <div class="section-body grid-2">
            <div class="column-1">
              <h3 class="title-sm">Salut je suis ! </h3>
              <p class="text">
                Mhamed Aziz Chtourou et Nour Karray sont les  Co-Fondateurs de La sociéte ArtyProd. Nous Sommes  à la base des jeunes développeur . Ce qui  nous poussé à créer cette entreprise, c'est d'encourager les jeunes et de leur donner des opportunités de créativité


       
            </div>

            
          </div>
        </div>
      </section>
     


    
            
      {% endblock %}

      <!-- footer -->
     <footer class="footer">
      <div class="container">
        <div class="grid-4">
          <div class="grid-4-col footer-about">
            <h3 class="title-sm">About</h3>
            <p class="text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
              officiis quo officia quia?
            </p>
          </div>

          <div class="grid-4-col footer-links">
            <h3 class="title-sm">Links</h3>
            <ul>
              <li>
                <a href="#services">Services</a>
              </li>
              <li>
                <a href="#portfolio">Portfolio</a>
              </li>
              <li>
                <a href="#about">About</a>
              </li>
              <li>
                <a href="#testimonials">Testimonials</a>
              </li>
              <li>
                <a href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
          </div>

          <div class="grid-4-col footer-links">
            <h3 class="title-sm">Services</h3>
            <ul>
              <li>
                <a href="#">Web Design</a>
              </li>
              <li>
                <a href="#">Web Dev</a>
              </li>
              <li>
                <a href="#">App Design</a>
              </li>
              <li>
                <a href="#">Marketing</a>
              </li>
              <li>
                <a href="#">UI Design</a>
              </li>
            </ul>
          </div>

          <div class="grid-4-col footer-newstletter">
            <h3 class="title-sm">Subscribe</h3>
            <p class="text">
              Lorem ipsum dolor, sit amet ipsum dolor sit amet.
            </p>
            <div class="footer-input-wrap">
              <input type="email" class="footer-input" placeholder="Email" />
              <a href="#" class="input-arrow">
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="bottom-footer">
          <div class="copyright">
            <p class="text">
              Copyright&copy;2023 All rights reserved | Made by
              <span class="split-text" data-text="FORUM"><a
                href="https://dopedevelopers.com/" > Dope developers </a></span>
             
            </p>
          </div>

          <div class="followme-wrap">
            <div class="followme">
              <h3>Follow me</h3>
              <span class="footer-line"></span>
              <div class="social-media">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </div>
            </div>

            <div class="back-btn-wrap">
              <a href="#" class="back-btn">
                <i class="fas fa-chevron-up"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/isotope.pkgd.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./js/app.js"></script> -->
  </body>
</html>







